{% if S_IMCGER_FANCYBOX_VERSION == 3 %}
	<!-- INCLUDECSS ../fancybox/jquery.fancybox.min.css -->
	<!-- INCLUDEJS ../fancybox/fancybox-prepare.js -->
	<!-- INCLUDEJS ../fancybox/jquery.fancybox.min.js -->

	<script>
		$('[data-fancybox]').fancybox({
			toolbar: "auto",
			buttons: [{{ IMCGER_FANCYBOX_TOOLBAR }}"close"], 
			transitionEffect: "{{ IMCGER_FANCYBOX_TRANSITIONEFFECT }}",	
			loop : true,
			protect: true,
			lang: "{{ IMCGER_FANCYBOX_LANGUAGE }}",
			i18n: {
				{{ IMCGER_FANCYBOX_LANGUAGE }}: {
					CLOSE: "{{ lang('FANCYBOX_CLOSE') }}",
					NEXT: "{{ lang('FANCYBOX_NEXT') }}",
					PREV: "{{ lang('FANCYBOX_PREV') }}",
					ERROR: "{{ lang('FANCYBOX_ERROR') }}",
					PLAY_START: "{{ lang('FANCYBOX_TOGGLE_SLIDESHOW') }}",
					PLAY_STOP: "{{ lang('FANCYBOX_TOGGLE_SLIDESHOW') }}",
					FULL_SCREEN: "{{ lang('FANCYBOX_TOGGLE_FULLSCREEN') }}",
					THUMBS: "{{ lang('FANCYBOX_TOGGLE_THUMBS') }}",
					DOWNLOAD: "{{ lang('FANCYBOX_DOWNLOAD') }}",
					SHARE: "{{ lang('FANCYBOX_SHARE') }}",
					ZOOM: "{{ lang('FANCYBOX_TOGGLE_ZOOM') }}"
				},
			},
		});
	</script>
{% endif %}
{% if S_IMCGER_FANCYBOX_VERSION == 4 %}
	<script>
		<!-- INCLUDECSS ../fancybox/fancybox.css -->
		<!-- INCLUDEJS ../fancybox/fancybox-prepare.js -->
		<!-- INCLUDEJS ../fancybox/fancybox.umd.js -->

		Fancybox.bind('[data-fancybox]', {
			Toolbar: {
				display: [
					{ id: "counter", position: "left" },
					{{ IMCGER_FANCYBOX_TOOLBAR }}"close",
				],
			},
			Thumbs: {{ IMCGER_FANCYBOX_THUMBS }}, 
			l10n: {
				CLOSE: "{{ lang('FANCYBOX_CLOSE') }}",
				NEXT: "{{ lang('FANCYBOX_NEXT') }}",
				PREV: "{{ lang('FANCYBOX_PREV') }}",
				MODAL: "{{ lang('FANCYBOX_MODAL') }}",
				ERROR: "{{ lang('FANCYBOX_ERROR') }}",
				IMAGE_ERROR: "{{ lang('FANCYBOX_IMAGE_ERROR') }}",
				TOGGLE_ZOOM: "{{ lang('FANCYBOX_TOGGLE_ZOOM') }}",
				TOGGLE_THUMBS: "{{ lang('FANCYBOX_TOGGLE_THUMBS') }}",
				TOGGLE_SLIDESHOW: "{{ lang('FANCYBOX_TOGGLE_SLIDESHOW') }}",
				TOGGLE_FULLSCREEN: "{{ lang('FANCYBOX_TOGGLE_FULLSCREEN') }}",
				DOWNLOAD: "{{ lang('FANCYBOX_DOWNLOAD') }}",
			},
		});
	</script>
{% endif %}
