/*
	template event zum einfügen
	overall_header_stylesheets_after
	simple_header_stylesheets_after
*/
/*
	Images border Fancybox 4.0
*/
<style>
	.fancybox__image {
		border: 13px solid #E7DFCE;
		object-fit: cover !important; /* workaround for gap between border and image */
	}
</style>

/*
	Images border Fancybox 3.5.7
*/
<style>
	.fancybox-image{
		border:13px solid #E7DFCE;
	}
</style>
