{% include 'overall_header.html' %}

<h1>{{ lang('FANCYBOX_TITLE') }}</h1>

<p>{{ lang('FANCYBOX_TITLE_EXPLAIN') }}</p>

<form id="acp_board" method="post" action="{U_ACTION}">

	<fieldset>
		<legend>{{ lang('FANCYBOX_VERSION') }}</legend>
		<dl>
			<dt><label for="imcger_fancybox_version_3">{{ lang('FANCYBOX_VERSION') ~ lang('COLON') }}</label><br><span>{{ lang('FANCYBOX_VERSION_DESC') }}</span></dt>
			<dd>
				{% if IMCGER_FANCYBOX_IS_VERSION_3 %}
					<label><input onclick="imcgerFancybox.setVersion(3)" type="radio" class="radio" id="imcger_fancybox_version_3" name="imcger_fancybox_version" value='3' {{ IMCGER_FANCYBOX_VERSION == 3 && IMCGER_FANCYBOX_IS_VERSION_3 ? "checked" }}>
					{{ lang('FANCYBOX_VERSION') }}&nbsp;{{ IMCGER_FANCYBOX_IS_VERSION_3 }}</label>
				{% endif %}

				{% if IMCGER_FANCYBOX_IS_VERSION_4 %}
					<label><input onclick="imcgerFancybox.setVersion(4)" type="radio" class="radio" id="imcger_fancybox_version_4" name="imcger_fancybox_version" value="4" {{ IMCGER_FANCYBOX_VERSION == 4 && IMCGER_FANCYBOX_IS_VERSION_4 ? "checked" }}>
					{{ lang('FANCYBOX_VERSION') }}&nbsp;{{ IMCGER_FANCYBOX_IS_VERSION_4 }}</label>
				{% endif %}

				{% if IMCGER_FANCYBOX_IS_VERSION_5 %}
					<label><input onclick="imcgerFancybox.setVersion(5)" type="radio" class="radio" id="imcger_fancybox_version_5" name="imcger_fancybox_version" value="5" {{ IMCGER_FANCYBOX_VERSION == 5 && IMCGER_FANCYBOX_IS_VERSION_5 ? "checked" }}>
					{{ lang('FANCYBOX_VERSION') }}&nbsp;{{ IMCGER_FANCYBOX_IS_VERSION_5 }}</label>
				{% endif %}

				{% if !IMCGER_FANCYBOX_IS_VERSION_3 && !IMCGER_FANCYBOX_IS_VERSION_4 && !IMCGER_FANCYBOX_IS_VERSION_5 %}
					{{ lang('FANCYBOX_VERSION_NONE') }}
				{% endif %}
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('FANCYBOX_SETTINGS_STYLE') }}</legend>
		<dl>
			<dt><label for="imcger_fancybox_image_borderwidth">{{ lang('FANCYBOX_IMAGES_STYLE') ~ lang('COLON') }}</label><br ><span>{{ lang('FANCYBOX_IMAGES_STYLE_DESC') }}</span></dt>
			<dd>
				<input id="imcger_fancybox_image_borderwidth" name="imcger_fancybox_image_borderwidth" type="number" value="{{ IMCGER_FANCYBOX_IMAGES_BORDERWIDTH }}" size="4" min="0" max="100" style="width: 75px;"> px<br>
				<input id="imcger_fancybox_image_bordercolor" name="imcger_fancybox_image_bordercolor" type="text" value="{{ IMCGER_FANCYBOX_IMAGES_BORDERCOLOR }}" size="6" maxlength="6" {% if IMCGER_FANCYBOX_IMAGES_BORDERCOLOR %}style="border-right:20px solid #{{ IMCGER_FANCYBOX_IMAGES_BORDERCOLOR }}"{% endif %} >
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('FANCYBOX_SETTINGS') }}</legend>
		<dl>
			<dt><label for="imcger_fancybox_show_with_link">{{ lang('FANCYBOX_SHOW_WITH_LINK') ~ lang('COLON') }}</label><br ><span>{{ lang('FANCYBOX_SHOW_WITH_LINK_DESC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_fancybox_show_with_link', IMCGER_FANCYBOX_SHOW_WITH_LINK) }}
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('FANCYBOX_SETTINGS_TOOLBAR') }}</legend>
		<dl>
			<dt><label for="imcger_fancybox_toolbar_button_zoom">{{ lang('FANCYBOX_TOOLBAR_BUTTON_ZOOM') ~ lang('COLON') }}</label><br><span>{{ lang('FANCYBOX_TOOLBAR_BUTTON_ZOOM_DESC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_fancybox_toolbar_button_zoom', IMCGER_FANCYBOX_TOOLBAR_BUTTON_ZOOM) }}
			</dd>
		</dl>
		<dl id="FancyboxToolbarButtonRotate">
			<dt><label for="imcger_fancybox_toolbar_button_rotate">{{ lang('FANCYBOX_TOOLBAR_BUTTON_ROTATE') ~ lang('COLON') }}</label><br><span>{{ lang('FANCYBOX_TOOLBAR_BUTTON_ROTATE_DESC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_fancybox_toolbar_button_rotate', IMCGER_FANCYBOX_TOOLBAR_BUTTON_ROTATE) }}
			</dd>
		</dl>
		<dl id="FancyboxToolbarButtonShare">
			<dt><label for="imcger_fancybox_toolbar_button_share">{{ lang('FANCYBOX_TOOLBAR_BUTTON_SHARE') ~ lang('COLON') }}</label><br><span>{{ lang('FANCYBOX_TOOLBAR_BUTTON_SHARE_DESC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_fancybox_toolbar_button_share', IMCGER_FANCYBOX_TOOLBAR_BUTTON_SHARE) }}
			</dd>
		</dl>
		<dl>
			<dt><label for="imcger_fancybox_toolbar_button_slshow">{{ lang('FANCYBOX_TOOLBAR_BUTTON_SLIDESHOW') ~ lang('COLON') }}</label><br><span>{{ lang('FANCYBOX_TOOLBAR_BUTTON_SLIDESHOW_DESC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_fancybox_toolbar_button_slshow', IMCGER_FANCYBOX_TOOLBAR_BUTTON_SLSHOW) }}
			</dd>
		</dl>
		<dl>
			<dt><label for="imcger_fancybox_toolbar_button_fullscr">{{ lang('FANCYBOX_TOOLBAR_BUTTON_FULLSCREEN') ~ lang('COLON') }}</label><br><span>{{ lang('FANCYBOX_TOOLBAR_BUTTON_FULLSCREEN_DESC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_fancybox_toolbar_button_fullscr', IMCGER_FANCYBOX_TOOLBAR_BUTTON_FULLSCR) }}
			</dd>
		</dl>
		<dl>
			<dt><label for="imcger_fancybox_toolbar_button_download">{{ lang('FANCYBOX_TOOLBAR_BUTTON_DOWNLOAD') ~ lang('COLON') }}</label><br><span>{{ lang('FANCYBOX_TOOLBAR_BUTTON_DOWNLOAD_DESC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_fancybox_toolbar_button_download', IMCGER_FANCYBOX_TOOLBAR_BUTTON_DOWNLOAD) }}
			</dd>
		</dl>
		<dl>
			<dt><label for="imcger_fancybox_toolbar_button_thumbs">{{ lang('FANCYBOX_TOOLBAR_BUTTON_THUMBS') ~ lang('COLON') }}</label><br><span>{{ lang('FANCYBOX_TOOLBAR_BUTTON_THUMBS_DESC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_fancybox_toolbar_button_thumbs', IMCGER_FANCYBOX_TOOLBAR_BUTTON_THUMBS) }}
			</dd>
		</dl>
	</fieldset>

	<fieldset id="FancyboxSettingsEffect">
		<legend>{{ lang('FANCYBOX_SETTINGS_EFFECT') }}</legend>
		<dl>
			<dt><label for="imcger_fancybox_transitionEffect">{{ lang('FANCYBOX_TRANSITIONEFFECT') ~ lang('COLON') }}</label><br ><span>{{ lang('FANCYBOX_TRANSITIONEFFECT_DESC') }}</span></dt>
			<dd>
				<select id="imcger_fancybox_transitionEffect" name="imcger_fancybox_transitionEffect">
					<option class="fancybox5" value="crossfade"{{ IMCGER_FANCYBOX_TRANSITIONEFFECT == 'crossfade' ? ' selected' }}>{{ lang('FANCYBOX_TRANSITIONEFFECT_CROSSFADE') }}</option>
					<option class="fancybox3 fancybox5" value="fade"{{ IMCGER_FANCYBOX_TRANSITIONEFFECT == 'fade' ? ' selected' }}>{{ lang('FANCYBOX_TRANSITIONEFFECT_FADE') }}</option>
					<option class="fancybox3 fancybox5" value="slide"{{ IMCGER_FANCYBOX_TRANSITIONEFFECT == 'slide' ? ' selected' }}>{{ lang('FANCYBOX_TRANSITIONEFFECT_SLIDE') }}</option>
					<option class="fancybox3" value="circular"{{ IMCGER_FANCYBOX_TRANSITIONEFFECT == 'circular' ? ' selected' }}>{{ lang('FANCYBOX_TRANSITIONEFFECT_CIRCULAR') }}</option>
					<option class="fancybox3" value="tube"{{ IMCGER_FANCYBOX_TRANSITIONEFFECT == 'tube' ? ' selected' }}>{{ lang('FANCYBOX_TRANSITIONEFFECT_TUBE') }}</option>
					<option class="fancybox3" value="zoom-in-out"{{ IMCGER_FANCYBOX_TRANSITIONEFFECT == 'zoom-in-out' ? ' selected' }}>{{ lang('FANCYBOX_TRANSITIONEFFECT_ZOOM-IN-OUT') }}</option>
					<option class="fancybox3" value="rotate"{{ IMCGER_FANCYBOX_TRANSITIONEFFECT == 'rotate' ? ' selected' }}>{{ lang('FANCYBOX_TRANSITIONEFFECT_ROTATE') }}</option>
					<option class="fancybox5" value="classic"{{ IMCGER_FANCYBOX_TRANSITIONEFFECT == 'classic' ? ' selected' }}>{{ lang('FANCYBOX_TRANSITIONEFFECT_CLASSIC') }}</option>
				</select>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>

		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" {{ !IMCGER_FANCYBOX_IS_VERSION_3 && !IMCGER_FANCYBOX_IS_VERSION_4 && !IMCGER_FANCYBOX_IS_VERSION_5 ? 'disabled' }} >
			<input class="button2" type="reset"  id="reset" name="reset" value="{{ lang('RESET') }}">
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

<p class="imcger-copyright">
	{{ EXT_LINK_TITLE }} v{{ EXT_LINK_EXT_VER }} &copy; IMC-Ger<br>
	{{ lang('ACP_IMCGER_LANG_DESC') }} v{{ lang('ACP_IMCGER_LANG_EXT_VER') }} &bull; {{ lang('ACP_IMCGER_LANG_AUTHOR') }}
</p>

{% include 'overall_footer.html' %}

{% if not INCLUDED_COLPICKJS %}
	{% INCLUDEJS '@imcger_fancybox/colpick/colpick.js' %}
	{% INCLUDECSS '@imcger_fancybox/colpick/colpick.css' %}
	{% set INCLUDED_COLPICKJS = true %}
{% endif %}

{% INCLUDEJS '@imcger_fancybox/acp_fancybox.js' %}
{% INCLUDECSS '@imcger_fancybox/acp_fancybox.css' %}
{% INCLUDECSS '@imcger_fancybox/acp_toggle.css' %}

{% macro switch(name, checked = false) -%}
	<input type="checkbox" class="toggle" name="{{ name }}" value="1"{{ checked ? ' checked' }}>
{%- endmacro %}
